@keyframes fog_one {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 375px;
    }
}

@keyframes fog_two {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -375px;
    }
}

.fog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-65%);
    background-repeat: repeat-x;
    width: 100vw;
    height: 1500px;
    transition: top 1.5s ease-in;

    &--one {
        background-image: url('../img/fog-one.png');
        opacity: .15;
    }

    &--two {
        background-image: url('../img/fog-two.png');
        opacity: .20;
    }
}

body.with-animation {
    .fog {
        &--one {
            animation: fog_one 10s linear infinite alternate;
        }

        &--two {
            animation: fog_two 7s linear infinite alternate;
        }
    }

    @include min-md {

        .fog {
            &--one {
                animation: fog_one 20s linear infinite alternate;
            }

            &--two {
                animation: fog_two 15s linear infinite alternate;
            }
        }
    }
}